<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Balance App</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>

</head>
<body ng-app='bankingApp' ng-controller='mainCtrl'>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>myTransactions</h2>
    </div>
  </div>


  <div class="container">

    <div class="row">


      <!-- EDIT TRANSACTION -->

      <div class="col-md-3" ng-if="tranToEdit">
        <h4>Edit Transaction</h4>


          <div class="form-group">
            <input type="text" class="form-control" placeholder="mm/dd/yyyy" ng-model="tranToEdit.date">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Description" ng-model="tranToEdit.desc">
          </div>
          <div class="form-group">
            <input type="number" step="0.01" class="form-control" data-ng-disabled="tranToEdit.credit" placeholder="Withdrawl Amount" ng-model="tranToEdit.debit">
          </div>
          <div class="form-group">
            <input type="number" step="0.01" class="form-control" data-ng-disabled="tranToEdit.debit" placeholder="Deposit Amount" ng-model="tranToEdit.credit">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Memo" ng-model="tranToEdit.memo">
          </div>
        <button class="btn btn-danger edit-button" ng-click="cancelEdit()">Cancel</button>
        <button class="btn btn-info edit-button" ng-click="saveEdit(tran)">Save</button>

      </div>


<!-- NEW TRANSACTION -->


    <form class="col-md-3" ng-hide="tranToEdit" ng-submit='createTrans()'>
      <h4>New Transaction</h4>
      <div class="form-group">
        <input type="date" class="form-control" ng-model="newTrans.date" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Description" ng-model="newTrans.desc" required>
      </div>
      <div class="form-group">
        <input type="number" step="0.01" class="form-control" data-ng-disabled="newTrans.credit" placeholder="Withdrawl Amount" ng-model="newTrans.debit">
      </div>
      <div class="form-group">
        <input type="number" step="0.01" class="form-control" data-ng-disabled="newTrans.debit" placeholder="Deposit Amount" ng-model="newTrans.credit">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Memo" ng-model="newTrans.memo" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default add-button">add</button>
      </div>
    </form>



    <div class=col-md-9>

      <!-- TOTAL BALANCE -->

      <div class="total-balance">
        <p><strong><i>Total balance: {{getBalance() | currency : $}}</i></strong></p>
      </div>


      <!-- SEARCH BAR -->


      <div class="form-group">
      <input type="text" class="form-control" placeholder="Search transactions..." ng-model='searchFilter'>
    </div>

<!-- TABLE -->

    <table class="table">
      <thead>
        <th ng-click='sortBy("date")'>Date<span class="caret"></span></th>
        <th ng-click='sortBy("desc")'>Description<span class="caret"></span></th>
        <th ng-click='sortBy("debit")'>Debits <i>({{withdrawl() | currency : $}})</i><span class="caret"></span></th>
        <th ng-click='sortBy("credit")'>Credits <i>({{deposit() | currency : $}})</i><span class="caret"></span></th>
        <th ng-click='sortBy("memo")'>Memo<span class="caret"></span></th>
        <th>Edit/Delete</th>
      </thead>
      <tbody>
        <tr ng-repeat='tran in trans | filter:searchFilter  | orderBy:sortOrder track by $index'>
          <td>{{tran.date | date: "MM/dd/yyyy"}}</td>
          <td>{{tran.desc}}</td>
          <td>{{tran.debit | currency : $}}</td>
          <td>{{tran.credit | currency : $}}</td>
          <td>{{tran.memo}}</td>
          <td>
            <button type="button" class="btn btn-danger" ng-click='removeTran(tran)'>
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button type="button" class="btn btn-info" ng-click='editTrans(tran)'>
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>







</div><!-- /.row -->

  </div><!-- /.container -->
</body>
</html>
